Question 1 to 6

In [1]:
10+5

15

In [4]:
print ("Hello World!")

Hello World!

In [5]:
45-34

11

In [7]:
8*2

16

In [6]:
print("Rahul's age is", 45)

Rahul's age is 45

In [8]:
print("I have", 10, "mangoes and", 12, "bananas")

I have 10 mangoes and 12 bananas

Question 7

In [10]:
emp_number =1233
print("Employee Number:", emp_number)
emp_salary =16745.50
emp_name="Jerry Squaris"
print("Employee Salary and Name: ", emp_salary, emp_name)
emp_salary=23450.34
print("Updated Employee Salary: ", emp_salary)

Employee Number: 1233
Employee Salary and Name:  16745.5 Jerry Squaris
Updated Employee Salary:  23450.34

Question 8

In [11]:
customer_id=101
type(customer_id)

int

In [12]:
customer_name="John"
type(customer_name)

str

In [15]:
bill_amount=567.75
type(bill_amount)

float

In [16]:
x=5.3+0.9j
type(x)

complex

In [17]:
print(customer_id, customer_name, bill_amount)

101 John 567.75

In [18]:
print(x.real)

5.3

In [20]:
print(x.imag+3)

3.9

In [21]:
Flag=True
type(Flag)

bool

In [22]:
y="False"
type(y)

str

Question 9

In [23]:
bill_id=101
customer_id=1001
customer_name="Rahul"
if_minor=False
bill_amount=2000.50

print(customer_id, customer_name, bill_id, bill_amount, if_minor)

1001 Rahul 101 2000.5 False

Question 10

In [11]:
num1=int(input("Enter any number: "))
num2=int(input("Enter any number: "))

Enter any number: 2
Enter any number: 3

In [14]:
num1=num1+4
num2=num2+6
print("Sum: ", num1+num2)

Sum:  35

Question 11

In [17]:
a=4
b=5
a, b=b, a
print(a, b)

5 4

Question 12

In [26]:
student_name="John"
student_grade=5
sub_1=59
sub_2=67
sub_3=85
print("Average marks: ", (sub_1+sub_2+sub_3)/3)

Average marks:  70.33333333333333

In [28]:
sub_2=73
print("Average marks: ", (sub_1+sub_2+sub_3)/3)

Average marks:  72.33333333333333

Question 13

In [29]:
rad=10
PI=3.14
area=PI*rad*rad
perimeter=2*PI*rad
print("Perimeter: ", perimeter)
print("Area: ", area)

Perimeter:  62.800000000000004
Area:  314.0

Question 14

In [30]:
hrs_work=40
pay_rate=400
no_week=4
monthly_pay=hrs_work*pay_rate*no_week

print("monthly Pay: ", monthly_pay)

monthly Pay:  64000

Question 15

In [34]:
for i in range(50, 81, 2):
    print(i)

50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80

In [40]:
n=int(input("Enter any number: "))
sum=0
for i in range(1, n+1):
    sum=sum+i
print(sum)

Enter any number: 10
55

In [15]:
import math
n=int(input("Enter any number: "))
if n==2:
        print("The number is prime")
elif n>1:  
    for i in range(2, int(math.sqrt(n))+2):
        if n%i==0:
            print("The number is constant.")
            break
        else:
            print("The number is prime.")
            break
else:
    print("The number is neither prime nor constant.")

Enter any number: 7
The number is prime.

In [48]:
def fib(n):
    if n==1:
        return 0
    elif n==2:
        return 1
    elif n>2:
        return fib(n-1)+fib(n-2)

In [55]:
for i in range(1, 9):
    print(fib(i))

0
1
1
2
3
5
8
13